.caption {
  display: flex;
  flex-flow: column nowrap;
}
.siteDetails {
  top: 100px;
}
.siteDetails div {
  max-height: 70vh;
}

.details {
  padding-top: 1rem;
}
.detailsText {
  color: #ffffff;
  font-family: "FranklinGothicBook";
  font-size: 24px;
}
.detailsTitle {
  font-family: BuiltTitling;
  letter-spacing: 8px;
  font-size: 50px;
  font-weight: bold;
}

.audioPlayer {
  position: absolute;
  bottom: 1rem;
  padding-left: 3rem;
}
