#root {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

:focus {
  outline: none;
}

@font-face {
  font-family: LiberationSans;
  src: url(./fonts/LiberationSans-Regular.ttf);
}

@font-face {
  font-family: FranklinGothicBook;
  src: url(./fonts/franklingothic-book.otf);
}

@font-face {
  font-family: GhostLight;
  src: url(./fonts/Ghostlight-Regular.ttf);
}
@font-face {
  font-family: BuiltTitling;
  src: url("./fonts/built titling rg.ttf");
}

body {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-image: url("./img/00-1600x900-RockabillyLegends-Background@2x.png");
  background-size: cover;
  z-index: 50;
  overflow: hidden;
}

/* bounce for buttons */

@keyframes scale {
  0% {
  }
  50% {
    transform: scale(1.25);
  }
}

@-webkit-keyframes scale {
  0% {
  }
  50% {
    -webkit-transform: scale(1.25);
  }
}

@-moz-keyframes scale {
  0% {
  }
  50% {
    -moz-transform: scale(1.25);
  }
}

@-ms-keyframes scale {
  0% {
  }
  50% {
    -ms-transform: scale(1.25);
  }
}

@-o-keyframes scale {
  0% {
  }
  50% {
    -o-transform: scale(1.25);
  }
}
