.audioPlayer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.image {
  width: 257px;
  height: 85px;
  cursor: pointer;
}

.credits {
  font-family: "FranklinGothicBook";
  padding: 0rem 1rem;
  color: #d0a127;
}

.halfSize {
  transform: scale(0.5) translateX(-50%) translateY(-50%);
}
